{"parent.filenames"  ["bract-context.edn"]
 :app/cli-inducers   $:app/cfg-inducers
 :app/log-inducers   [bract.core.inducer/export-as-sysprops
                      gossamer.core.inducer/log-mdc-codec-init-only]
 :app/dev-inducers   [;; record the context for dev workflow
                      bract.core.dev/record-context!]
 :app/runtime-manage [bract.core.inducer/set-default-exception-handler
                      (bract.core.inducer/set-default-exception-handler
                        {{name}}.util/handle-uncaught-exception)]}
