{"parent.filenames"    ["bract/ring/config.edn"
                        "gossamer/core/config.edn"
                        "gossamer/core/config.logback.edn"]
 ;; logback
 "logback.app.base.package" "{{sanitized}}"
 }
